<ul id="lists">
  <% sort_lists(@lists) do |list_hash, index| %>
    <li class="<%= list_class(list_hash) %>">
      <a href="/lists/<%= index %>">
        <h2><%= list_hash[:name] %></h2>
        <p>
          <%= todos_remaining_count(list_hash) %> / <%= todos_count(list_hash) %>
        </p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>
